<h1>Cittearn</h1>

<strong>
  <%= link_to 'new song', new_song_path %><br>
</strong>

<h2>Current Songs</h2>
<% @songs.each do |song| %>
  <div><%= link_to song.title, song_path(song) %></div>
<% end %>
