
<p>
  <strong>Song</strong>
  <%= @part.song.title %>
</p>

<p>
  <strong>Lyrics</strong>
  <%= @part.lyrics %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>