<nav class="navbar navbar-light" style="background-color: #c0c0c0;">


<span class="pull-right">
  <div class="btn btn-warning">
    <%= link_to "Edit Song", edit_user_song_path(current_user, @song) %></button>
  </div>
  <div class="btn btn-success">
     <%= link_to "Add Progression", new_song_progression_path(@song), class: "btn" %>
  </div>
</span>
</nav>