<nav class="navbar navbar-light" style="background-color: #c0c0c0;">

<span class="pull-right">
  <div class="btn btn-warning">
    <%= link_to "Edit Song", edit_song_path, class: "btn" %> 
  </div>
  <div class="btn btn-success">
     <%= link_to "Add Chords", new_song_chord_path(@song), class: "btn" %>
  </div>
  <div class="btn btn-success">
    <%= link_to "Add Strumming", edit_song_path, class: "btn" %>
  </div>
</span>
</nav>