<h2>Which chords are used in this progression?<br></h2>

    <h2><%= current_song.title %> <br>
    <%= current_song.artist %> <br></h2>
    <h4 class="display-4">Song Added by: 
    <%= current_user.name %> <br>
    </h4>
<table class="table table-sm">
  <tr>
  <% @chords.each do |c| %>

      <td><%= image_tag("#{c.img}", size: "200x200") %></td>
      <td>Add</td>
      
      
   
    
    
  <% end %>
   </tr>
</table>


  
  